* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  display: block;
  font-family: "peace_sans", sans-serif;
  background-color: #260981;
  color: #fff;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/maket.png);
  opacity: 10%;
  width: 1440px;
  height: 7327px;
}

/* стили заголовков*/
h1 {
  font-size: 128px;
  line-height: 63%;
}

h2 {
  font-size: 86px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 26px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 1_1*/
.section_1_1 {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.section_1_1 div:nth-of-type(1) h4 {
  margin-left: 60px;
  margin-top: 50px;
}

.section_1_1 div:nth-of-type(2) h4 {
  color: #260981;
  text-align: right;
  margin-right: 60px;
  margin-top: 50px;
}

/* фон для секции 1_1 */
.drops-background {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 895px;
  width: 545px;
  height: 365px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 1_2*/

.section_1_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 860px;
  margin-top: -100px;
}

.section_1_2 div:nth-of-type(1) img {
  position: relative;
  z-index: 0;
}

.section_1_2 h4 {
  margin-top: 18px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.cow {
  position: absolute;
  margin-left: 352px;
  z-index: -1;
}

/* стили для заголовка PEACE SANS */
.heading {
  z-index: 1;
  color: #260981;
  text-align: center;
  margin-left: 80px;
  margin-top: -32px;
  position: absolute;
}

.background-heading {
  margin-top: -48px;
  margin-left: 60px;
}

.fence {
  margin-top: -340px;
}

/* стили для надписи на носу коровы */
.glyfs {
  margin-left: 906px;
  margin-top: -536px;
  text-align: center;
  color: #260981;
  position: absolute;
  z-index: 3;
  rotate: 19deg;
}

/* стили для фона надписи */
.background-for-text {
  z-index: 2;
  position: absolute;
  margin-left: 866px;
  margin-top: -556px;
  rotate: 19deg;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 2_1 */

/* флексбокс для всего экрана */
.section_2_1 div {
  display: flex;
  flex-direction: row;
  z-index: 5;
}

/* заголовок */
.section_2_1 h2 {
  padding-left: 60px;
  color: #260981;
  position: relative;
  z-index: 5;
}

/* стили для фона секции 2_1*/
.milk-background {
  margin-top: -148px;
  margin-left: 0px;
  position: absolute;
  z-index: 5;
}

/* стили для списка */
.numbers {
  margin-left: 74px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 7;
  -webkit-text-stroke: 1.5px #260981;
}
.list {
  margin-left: 24px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 7;
  color: #260981;
}

/* декоративные строки в списке */
.section_2_1 div div:nth-of-type(1) {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 5;
  position: absolute;
  margin-left: 60px;
}

/* стили для капель на фоне упаковки молока */
.third-drop {
  position: absolute;
  z-index: 6;
}
.second-drop {
  position: absolute;
  z-index: 7;
  padding-left: 56px;
  padding-bottom: 28px;
}
.first-drop {
  position: absolute;
  z-index: 8;
  padding-left: 56px;
}

/* выравнивание капель */
.section_2_1 div div:nth-of-type(2) {
  padding-left: 64px;
  padding-bottom: 28px;
  align-items: center;
}

/* молоко */
.milk {
  position: absolute;
  z-index: 9;
  padding-left: 126px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 3 */
.section_3 {
  position: absolute;
}

.section_3_1 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.section_3_1 h2 {
  margin-left: 60px;
  color: #ffffff;
  margin-top: 270px;
  z-index: 8;
}

.section_3_1 h4 {
  margin-left: 60px;
  margin-top: 28px;
  z-index: 8;
}

/* расположение букв */
.section_3 {
  background-image: url(../images/section_03/jug-of-milk.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 550px;
  background-position: 0%;
  color: white;
  -webkit-text-stroke: 6px #d2a3a3;
  line-height: 0.8;
}

/* детальная позиция каждой буквы */
.section_3 #o {
  position: absolute;
  font-size: 126px;
  rotate: -9.41deg;
  left: 416px;
  top: 86px;
}

.section_3 #M {
  position: absolute;
  font-size: 130px;
  rotate: -20deg;
  left: 300px;
  top: 260px;
}

.section_3 #№ {
  position: absolute;
  font-size: 98px;
  left: 560px;
  top: 94px;
  rotate: -9.41deg;
  -webkit-text-stroke: 4px #d2a3a3;
}

.section_3 #Џ {
  position: absolute;
  font-size: 126px;
  left: 628px;
  top: 358px;
  rotate: -51.5deg;
}

.section_3 #Å {
  position: absolute;
  font-size: 80px;
  left: 802px;
  top: 300px;
  -webkit-text-stroke: 4px #d2a3a3;
  rotate: 20.04deg;
}

.section_3 #© {
  position: absolute;
  font-size: 57px;
  left: 746px;
  top: 220px;
  -webkit-text-stroke: 0px;
  z-index: 2;
}

/* фон для символа © */
.section_3 #circle-background {
  position: absolute;
  font-size: 57px;
  left: 743px;
  top: 214px;
  z-index: 1;
}

.section_3 #č {
  position: absolute;
  font-size: 76px;
  left: 844px;
  top: 110px;
  rotate: 33.37deg;
  -webkit-text-stroke: 4px #d2a3a3;
}

.section_3 #¥ {
  position: absolute;
  font-size: 112px;
  left: 800px;
  top: -10px;
  rotate: 7deg;
}

.section_3 #г {
  position: absolute;
  font-size: 84px;
  left: 910px;
  top: -90px;
  rotate: 7deg;
}

.section_3 #ќ {
  position: absolute;
  font-size: 117px;
  left: 1200px;
  top: -170px;
  rotate: -78.67deg;
}

.section_3 #hash-sign {
  position: absolute;
  font-size: 84px;
  left: 710px;
  top: 27px;
  rotate: -9.4deg;
}

.section_3 #а {
  position: absolute;
  font-size: 150px;
  left: 459px;
  top: 358px;
  rotate: -70deg;
  -webkit-text-stroke: 4px #d2a3a3;
}

.section_3 #з {
  position: absolute;
  font-size: 80px;
  left: 1060px;
  top: -80px;
  rotate: -73deg;
  -webkit-text-stroke: 4.6px #d2a3a3;
}

/* линии у списка*/
.lines {
  display: flex;
  flex-direction: column;
  gap: 96px;
  position: absolute;
  margin-left: 860px;
  margin-top: -520px;
}

/* стиль списка */
.list-2 {
  display: flex;
  flex-direction: column;
  gap: 62px;
  position: absolute;
  padding: 0%;
  margin-top: -530px;
  margin-left: 1130px;
}

.lines:nth-of-type(1) img {
  width: 500px;
}
.lines:nth-of-type(2) img {
  width: 212px;
}
.lines:nth-of-type(3) img {
  width: 306px;
}
.lines:nth-of-type(4) img {
  width: 247px;
}
.lines:nth-of-type(5) img {
  width: 374px;
}
