* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  display: block;
  font-family: "peace_sans", sans-serif;
  background-color: #260981;
  color: #fff;
}

/* стили заголовков*/
h1 {
  font-size: 128px;
  line-height: 63%;
}

h2 {
  font-size: 86px;
}

h3 {
  font-size: 42 px;
}

h4 {
  font-size: 26px;
}

/* стили для секции 1_1*/
.section_1_1 {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.section_1_1 div:nth-of-type(1) h4 {
  margin-left: 60px;
  margin-top: 50px;
}

.section_1_1 div:nth-of-type(2) h4 {
  text-align: right;
  margin-right: 60px;
  margin-top: 50px;
}

/* стили для секции 1_2*/

.section_1_2 {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 860px;
  margin-top: -100px;
}

.section_1_2 div:nth-of-type(1) img {
  position: relative;
  z-index: 0;
}

/* стили для заголовка PEACE SANS */
.heading {
  z-index: 1;
  color: #260981;
  text-align: center;
  margin-left: 56px;
  position: absolute;
}

/* стили для фона для надписи "здесь производят глифы" */
.background-text {
  z-index: 0;
  position: absolute;
  rotate: 35px;
}
