* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  display: block;
  font-family: "peace_sans", sans-serif;
  background-color: #260981;
  color: #fff;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/maket.png);
  opacity: 10%;
  width: 1440px;
  height: 7327px;
}

/* стили заголовков*/
h1 {
  font-size: 128px;
  line-height: 63%;
}

h2 {
  font-size: 86px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 26px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 1_1*/
.section_1_1 {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.section_1_1 div:nth-of-type(1) h4 {
  margin-left: 60px;
  margin-top: 50px;
}

.section_1_1 div:nth-of-type(2) h4 {
  color: #260981;
  text-align: right;
  margin-right: 60px;
  margin-top: 50px;
}

/* фон для секции 1_1 */
.drops-background {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 895px;
  width: 545px;
  height: 365px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 1_2*/

.section_1_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 860px;
  margin-top: -100px;
}

.section_1_2 div:nth-of-type(1) img {
  position: relative;
  z-index: 0;
}

.section_1_2 h4 {
  margin-top: 18px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.cow {
  position: absolute;
  margin-left: 352px;
  z-index: -1;
}

/* стили для заголовка PEACE SANS */
.heading {
  z-index: 1;
  color: #260981;
  text-align: center;
  margin-left: 80px;
  margin-top: -32px;
  position: absolute;
}

.background-heading {
  margin-top: -48px;
  margin-left: 60px;
}

.fence {
  margin-top: -340px;
}

/* стили для надписи на носу коровы */
.glyfs {
  margin-left: 906px;
  margin-top: -536px;
  text-align: center;
  color: #260981;
  position: absolute;
  z-index: 3;
  rotate: 19deg;
}

/* стили для фона надписи */
.background-for-text {
  z-index: 2;
  position: absolute;
  margin-left: 866px;
  margin-top: -556px;
  rotate: 19deg;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 2_1 */

/* флексбокс для всего экрана */
.section_2_1 div {
  display: flex;
  flex-direction: row;
  z-index: 5;
}

/* заголовок */
.section_2_1 h2 {
  padding-left: 60px;
  color: #260981;
  position: relative;
  z-index: 5;
}

/* стили для фона секции 2_1*/
.milk-background {
  margin-top: -148px;
  margin-left: 0px;
  position: absolute;
  z-index: 5;
}

/* стили для списка */
.numbers {
  margin-left: 74px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 7;
  -webkit-text-stroke: 1.5px #260981;
}
.list {
  margin-left: 24px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 7;
  color: #260981;
}

/* декоративные строки в списке */
.section_2_1 div div:nth-of-type(1) {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 5;
  position: absolute;
  margin-left: 60px;
}

/* стили для капель на фоне упаковки молока */
.third-drop {
  position: absolute;
  z-index: 6;
}
.second-drop {
  position: absolute;
  z-index: 7;
  padding-left: 56px;
  padding-bottom: 28px;
}
.first-drop {
  position: absolute;
  z-index: 8;
  padding-left: 56px;
}

/* выравнивание капель */
.section_2_1 div div:nth-of-type(2) {
  padding-left: 64px;
  padding-bottom: 28px;
  align-items: center;
}

/* молоко */
.milk {
  position: absolute;
  z-index: 9;
  padding-left: 126px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ 3 */
/* .section_3_1 {
  margin-left: 60px;
} */

.section_3_1 h2 {
  color: #ffffff;
}

.jug-of-milk {
  padding-top: 218px;
}
